<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-8 border-right">
        <div class="p-3 py-5">
          <div class="text-center mb-3">
            <h4 class="">Change Password</h4>
          </div>

          <div class="row">
            <div class="col-md-12 my-2">
              <label class="labels"> Old Password </label>

              <input
                name="oldPassword"
                id="oldPassword"
                formControlName="oldPassword"
                type="password"
                class="form-control"
                placeholder=" old Password"
                value=""
              />
            </div>
            <div class="col-md-12 mt-2">
              <label class="labels">New Password</label
              ><input
                name="newPassword"
                id="newPassword"
                formControlName="newPassword"
                type="password"
                class="form-control"
                value=""
                placeholder="new Password"
              />
            </div>
            <div class="col-md-12 mt-2">
              <label class="labels">Verify Password</label
              ><input
                name="verifyPassword"
                id="verifyPassword"
                formControlName="verifyPassword"
                type="password"
                class="form-control"
                value=""
                placeholder="verify Password"
              />
            </div>
          </div>
          <div class="row">
            <div class="mt-5 text-center">
              <button type="submit" class="btn btn-primary profile-button">
                Confirm
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2 border-right"></div>
      </div>
    </div>
  </div>
</form>
