<nav>
  <div class="menu">
    <a class="logo" href="#">Logo</a>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <div class="shop">
      <a href="#">Shop</a>
      <!-- &blacktriangledown; -->
      <div class="drop">
        <a href="#">Mug</a>
        <div class="shirt">
          <a href="#">Tshirt</a>
          <div class="dropTwo">
            <a href="#">Size S</a>
            <a href="#">Size M</a>
            <a href="#">Size L</a>
            <a href="#">Size XL</a>
            <a href="#">Size XXL</a>
          </div>
        </div>
        <a href="#">hoodie</a>
        <a href="#">Tank Top</a>
      </div>
    </div>
  </div>
  <div class="extra">
    <a><button (click)="onSignin()">Sign IN</button></a>
    <a> <button (click)="onSignup()">Sign UP</button></a>
    <div class="translate">
      <i class="pi pi-info-circle"></i>
      <div class="more">
        <a href="#">العربية</a>
        <a href="#">Francais</a>
        <a href="#">Espanol</a>
        <a href="#">Deutsch</a>
      </div>
    </div>
  </div>
</nav>
