<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 mt-5">
    <div class="main-card card">
      <div class="card-body pt-5">
        <div class="row mx-3 justify-content-md-center align-items-center">
          <div class="col-md-6">
            <div class="mb-3 card card-body">
              <h5 class="card-title">Simple Signature</h5>

              <button
                style="border-radius: 21.5px"
                (click)="simple()"
                class="btn btn-info mt-2"
              >
                Select
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3 card card-body">
              <h5 class="card-title">Advanced Signature</h5>

              <button
                style="border-radius: 21.5px"
                (click)="advanced()"
                class="btn btn-info mt-2"
              >
                Select
              </button>
            </div>
          </div>
        </div>

        <div class="row mt-5 mx-4 pt-5 pb-3">
          <div class="position-relative">
            <div class="position-absolute bottom-0 start-0"></div>
            <div class="position-absolute bottom-0 end-0">
              <button class="btn btn-outline-info ml-3" (click)="next()">
                Next Step
                <i class="fa fa-fw" aria-hidden="true" title="arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
